.about {
    &__wrp {
        @include col();
        @include size(12);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
        @media (min-width: $break_lg) {
            flex-direction: row;
            justify-content: space-between;
        }
        @media (min-width: $break_xl) {
            margin-bottom: 122px;
        }
    }
    &__heading {
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: uppercase;
        @media (min-width: $break_lg) {
            max-width: 490px;
            text-align: left;
            margin-right: 130px;
            font-size: 50px;
        }
        @media (min-width: $break_xxl) {
            font-size: 60px;
            margin-right: 228px;
        }
    }
    &__text {
        max-width: 470px;
        color: $white;
        line-height: 24px;
        text-align: center;
        @media (min-width: $break_md) {
            max-width: 590px;
            font-size: 18px;
            line-height: 26px;
        }
        @media (min-width: $break_lg) {
            text-align: left;
            max-width: none;
            font-size: 27px;
            line-height: 34px;
        }
        @media (min-width: $break_xxl) {
            font-size: 37px;
            line-height: 47px;
            max-width: 1060px;
        }
    }
    &__items {
        @include col();
        @include size(12);
    }
    &__item {
        margin-bottom: 100px;
    }
    &__title {
        font-size: 32px;
        font-weight: 500;
        color: $white;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        margin-bottom: 55px;
        @media (min-width: $break_lg) {
            font-size: 42px;
            text-align: left;
        }
        @media (min-width: $break_xl) {
            margin-bottom: 96px;
        }
        @media (min-width: $break_xxl) {
            font-size: 50px;
            line-height: 50px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $break_lg) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__img {
        max-width: 320px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 76px;
        @media (min-width: $break_lg) {
            max-width: 290px;
            margin: 0
        }
        @media (min-width: $break_xl) {
            max-width: 384px;
        }
        @media (min-width: $break_xxl) {
            max-width: 414px;
        }
        @media (min-width: $break_x) {


            max-width: 444px;
        }
    }
    &__list {
        counter-reset: about-list;
        position: relative;
        max-width: 450px;
        @media (min-width: $break_lg) {
            max-width: none;
            margin-left: 130px;
        }
        @media (min-width: $break_xl) {
            max-width: none;
            flex-grow: 1;
            margin-left: 139px;
        }
        @media (min-width: $break_xxl) {
            margin-left: 149px;
        }
        &::before {
            content: "";
            display: block;
            height: 320px;
            max-width: 100%;
            width: 1px;
            background: linear-gradient(180deg, rgba(159, 25, 171, 0) 0%, #9F19AB 32.69%, #61015E 64.08%, rgba(159, 25, 171, 0) 100%);
            transform: rotate(90deg);
            position: absolute;
            top: -200px;
            left: 47%;
            @media (min-width: $break_lg) {
                height: 170px;
                top: 50%;
                left: -39px;
                bottom: 50%;
                transform: translateY(-50%);
            }
            @media (min-width: $break_xl) {
                height: 250px;
            }
            @media (min-width: $break_xxl) {
                height: 412px;
                left: -60px;
            }
        }
    }
    &__list-item {
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;
        @media (min-width: $break_xxl) {
            margin-bottom: 50px;
            padding-left: 35px;
        }
        &::before {
            counter-increment: about-list;
            content: "0" counter(about-list);
            color: $white;
            font-size: 12px;
            position: absolute;
            left: 0;
            top: 2px;
            @media (min-width: $break_xl) {
                top: 5px;
            }
            @media (min-width: $break_xxl) {
                font-size: 18px;
            }
        }
    }
    &__list-text {
        color: $white;
        font-size: 16px;
        line-height: 20px;
        @media (min-width: $break_lg) {
            font-size: 20px;
            line-height: 26px;
        }
        @media (min-width: $break_xl) {
            letter-spacing: 0.3px;
        }
        @media (min-width: $break_xxl) {
            font-size: 26px;
            line-height: 32px;
        }
        @media (min-width: $break_x) {
            font-size: 32px;
            line-height: 40px;
        }
    }
}
